<p id="notice"><%= notice %></p>

<h1>Übersicht der Vorgänger-Nachfolger-Beziehungen</h1>

<table id="job-job-assoc" class="display">
  <thead>
    <tr>
      <th>Vorgänger</th>
      <th>Nachfolger</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @job_job_associations.each do |job_job_association| %>
      <tr>
        <td><%= job_job_association.predecessor_id %></td>
        <td><%= job_job_association.successor_id %></td>
        <td><%= link_to 'Anzeigen', job_job_association %></td>
        <td><%= link_to 'Ändern', edit_job_job_association_path(job_job_association) %></td>
        <td><%= link_to 'Löschen', job_job_association, method: :delete, data: { confirm: 'Möchten Sie diesen Eintrag sicher löschen?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neue Vorgänger-Nachfolger-Beziehung', new_job_job_association_path %>

<br>
<br>

<%= link_to 'Zurück zur Eventplanung', tcpsp_path %>




