<% provide(:title, "Über uns") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | EvenTraum</title>
  </head>
  <body>
  <h1>Über die Gründer</h1>
  <br>
  <p>Xelat Akcam</p>

  <div style=><%=image_tag("Hayat.jpg", width: "140", height: "200")%></div>
  <p>Hayat Boulakhrif</p>

  <div style=><%=image_tag("Nadia.jpg", width: "150", height: "200")%></div>
  <p>Nadia Kruszewski</p>

  <h1>Über das Unternehmen</h1>
  <p>Im Rahmen der Veranstaltung „Entwicklung von Anwendungssystemen“
    am <a href="http://www.prod.uni-hannover.de">Institut für Produktionswirtschaft</a> im Master „Operations Management and Research“
    an der Gottfried Wilhelm Leibniz Universität Hannover ist die Web-Applikation „EvenTraum“ entwickelt worden.<br>
    Die Web-Applikation basiert auf dem Ruby on Rails Tutorial – Learn Web Development with Rails von Michael Hartl.<br>
    Mit der Web-Applikation „EvenTraum“ kann ein Multi-Projekt-Planungsproblem gelöst werden.
  </p>
  <br>
  </body>
</html>