<% provide(:title, "Kontakt") %>
<!DOCTYPE html>
<html>

  <head>
    <title><%= yield(:title) %> | EvenTraum</title>
  </head>
  <body>
  <h1>Kontakt</h1>
  <br>
  <p>Kontaktieren Sie bei Rückfragen oder Anregungen gerne das EvenTraum-Team.
  <br><br>
  Xelat Akcam
  <div style="text-align:left"><%=image_tag("email.jpg", size: "20") + "  xelat.akcam@gmail.com" %></div>
  <br>
  <p>Hayat Boulakhrif</p>
  <div style="text-align:left"><%=image_tag("email.jpg", size: "20") + "  ha.boulakhrif@web.de" %></div>
  <br>
  <p>Nadia Kruszewski</p>
  <div style="text-align:left"><%=image_tag("email.jpg", size: "20") + "  nadiakruszewski@yahoo.de" %></div>
  </p>
  </body>

</html>