<% provide(:title, "Impressum") %>
<!DOCTYPE html>
<html>

  <head>
    <title><%= yield(:title) %> | EvenTraum</title>
  </head>
  <body>

  <h1>Impressum</h1>

  <a>
    EvenTraum GmbH<br>
    c/o Leibniz Universität Hannover<br>
    Institut für Produktionswirtschaft<br>
    Königsworther Platz 1<br>
    D-30167 Hannover<br>
    Email: eventraum@gmail.com<br><br>
    Vertretungsberichtsberechtigter Vorstand:<br>
    Xelat Akcam<br>
    Hayat Boulakhrif<br>
    Nadia Kruszewski
  </a>

  </body>

</html>