<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= best_in_place @job, :name %>
</p>

<p>
  <strong>Vorgangsdauer in Wochen:</strong>
  <%= best_in_place @job, :processing_time %>
</p>

<p>
  <strong>Ressourcenbedarf:</strong>
  <%= best_in_place @job, :ressources_demand %>
</p>

<%= link_to 'Ändern', edit_job_path(@job) %> |
<%= link_to 'Zurück', jobs_path %>
