<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Anlass" %><br>
    <%= f.collection_select(:id, Event.all,:id,:name) %>
  </div>
  <div class="field">
    <%= f.label "Eventzeitpunkt" %><br>
    <%= f.number_field :deadline, type: "number", min:7, required: "required" %>
  </div>
  <div class="actions">
    <%= f.submit 'Neues Event anlegen' %>
  </div>
<% end %>
