<p id="notice"><%= notice %></p>

<h1>Übersicht der Events</h1>

<table id="events" class="display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Periode</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.deadline %></td>
        <td><%= link_to 'Anzeigen', event %></td>
        <td><%= link_to 'Ändern', edit_event_path(event) %></td>
        <td><%= link_to 'Löschen', event, method: :delete, data: { confirm: 'Möchten Sie diesen Eintrag sicher löschen?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neues Event', new_event_path %>
<br>
<br>
<%= link_to 'Zurück zur Eventplanung', tcpsp_path %>
