<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= best_in_place @event, :name %>
</p>


<p>
  <strong>Deadline:</strong>
  <%= best_in_place @event, :deadline %>
</p>

<%= link_to 'Ändern', edit_event_path(@event) %> |
<%= link_to 'Zurück', events_path %>
