<footer class="footer">
  <small>
    <a>Copyright © EvenTraum GmbH 2017</a>
  </small>

  <nav>
    <ul>
      <li><%= link_to "Über uns", about_path %></li>
      <li><%= link_to "Kontakt", contact_path %></li>
      <li><%= link_to "Impressum", impressum_path %></li>
    </ul>
  </nav>

</footer>