<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Startseite", root_path %></li>
        <% if logged_in? %>
            <li><%= link_to "Nutzer", users_path %></li>
            <li><%= link_to "Eventplanung", tcpsp_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Mein Konto <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profil", current_user %></li>
                <li><%= link_to "Einstellungen", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Abmelden", logout_path, method: "destroy" %>
                </li>
              </ul>
            </li>
        <% else %>
            <li><%= link_to "Anmelden", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>